<form action="answer" data-turbo="false" method="get" class="px-5">
  <label for="answer">Enter your question for the coach!</label>
  <div class="form-group d-flex">
    <input type="text" name="answer" class="form-control w-50">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
